<template>
  <div>
    <div v-for="(menu, i) in menus" :key="i">
      <MenuGroup
        v-if="Object.prototype.hasOwnProperty.call(menu, 'submenu')"
        :text="menu.text"
        :icon="menu.icon"
        :submenu="menu.submenu"
      />
      <MenuSingle
        v-else
        :text="menu.text"
        :icon="menu.icon"
        :route="menu.route"
      />
    </div>
  </div>
</template>
<script>
import MenuSingle from '@/components/menu/single.vue'
import MenuGroup from '@/components/menu/group.vue'
export default {
  components: {
    MenuSingle,
    MenuGroup,
  },
  data() {
    return {
      menus: [
        {
          text: 'Beranda',
          route: '/kaprodi/beranda',
          icon: 'mdi-home-outline',
        },
        {
          text: 'Rekap Presensi',
          route: '/kaprodi/rekap-presensi',
          icon: 'mdi-calendar-text',
        },
        {
          text: 'Rekap Tugas',
          route: '/kaprodi/rekap-tugas',
          icon: 'mdi-clipboard-text',
        },
        {
          text: 'Rekap Tugas',
          route: '/kaprodi/analisa-rekap',
          icon: 'mdi-clipboard-text',
        },
      ],
    }
  },
}
</script>
