<template>
  <v-container>
    <Breadcrumb :breadcrumb-item="breadcrumbItem" :judul-laman="judulLaman" />
    <DetailPresensiHeaderKaprodi />
    <br />
    <DetailPresensiKaprodi />
  </v-container>
</template>
<script>
import DetailPresensiHeader from '@/components/presensi/detail-presensi-header-kaprodi.vue'
import DetailPresensi from '@/components/presensi/detail-presensi-kaprodi.vue'
import Breadcrumb from '@/components/backend/breadcrumb.vue'
export default {
  components: {
    Breadcrumb,
    DetailPresensiHeaderKaprodi,
    DetailPresensiKaprodi,
  },
  data() {
    return {
      judulLaman: 'Detail Rekap Presensi Kaprodi',
      breadcrumbItem: [
        {
          text: 'Beranda',
          disabled: false,
          exact: true,
          to: '/kaprodi/beranda',
        },
        {
          text: 'Rekap Presensi',
          disabled: false,
          exact: true,
          to: '/kaprodi/rekap-presensi',
        },
        {
          text: 'Detail',
          disabled: true,
          exact: true,
          to: '#',
        },
      ],
    }
  },
}
</script>
