<template>
  <v-container>
    <Breadcrumb :breadcrumb-item="breadcrumbItem" :judul-laman="judulLaman" />
    <RekapPresensiKaprodi
      :url-akses="urlAkses"
      @detail="detailPresensiKaprodi"
    ></RekapPresensiKaprodi>
    <div>
    <h1 class="title">Grafik Presentase Keseluruhan Presensi</h1>
    <div class="chart-div">
        <pie-chart :data="chartData" :options="chartOptions"/>
    </div>
  </div>
  </v-container>
</template>

<script>
import Breadcrumb from '@/components/backend/breadcrumb.vue'
import RekapPresensiKaprodi from '@/components/presensi/rekap-presensi-kaprodi.vue'
import local from '~/service/local'
import PieChart from '@/components/PieChart.vue'

export default {
  components: {
    Breadcrumb,
    RekapPresensiKaprodi,
    PieChart,
  },

  middleware: ['auth', 'kaprodi'],
  data() {
    return {
      judulLaman: 'Rekap Presensi',
      breadcrumbItem: [
        {
          text: 'Beranda',
          disabled: false,
          exact: true,
          to: '/kaprodi/beranda',
        },
        {
          text: 'Rekap Presensi',
          disabled: true,
          exact: true,
          to: '#',
        },
      ],
      data() {
        return {
          chartOptions: {
            hoverBorderWidth: 20
          },
          chartData: {
            hoverBackgroundColor: "red",
            hoverBorderWidth: 10,
            labels: ["Green", "Red", "Blue"],
            datasets: [
              {
                label: "Data One",
                backgroundColor: ["#41B883", "#E46651", "#00D8FF"],
                data: [1, 10, 5]
              }
            ]
          }
        };
      },
      urlAkses: 'kaprodi',
    }
  },
  methods: {
    detailPresensiKaprodi(item) {
      local.setPresensi(item)
      this.$router.push('/' + this.urlAkses + '/rekap-presensi/detail')
    },
  },
}
</script>

<style>
.title{
    color: black;
}
.pie-chart{
    width: 50vw;
    height: 50vh;
}
</style>
