<template>
  <v-container>
    <Breadcrumb :breadcrumb-item="breadcrumbItem" :judul-laman="judulLaman" />
    <RekapPresensiKaprodi
      :url-akses="urlAkses"
      @detail="detailPresensiKaprodi"
    ></RekapPresensiKaprodi>
    <div>
    <h1 class="title">Grafik Presentase Keseluruhan Presensi</h1>
    <div class="chart-div">
        <PieChart :chartData="chartData" :options="chartOptions" 
        class="pie-chart"/>
    </div>
  </div>
  </v-container>
</template>

<script>
import Breadcrumb from '@/components/backend/breadcrumb.vue'
import RekapPresensiKaprodi from '@/components/presensi/rekap-presensi-kaprodi.vue'
import local from '~/service/local'
import PieChart from '@/components/PieChart.vue'

export default {
  components: {
    Breadcrumb,
    RekapPresensiKaprodi,
  },

  middleware: ['auth', 'kaprodi'],
  data() {
    return {
      judulLaman: 'Rekap Presensi',
      breadcrumbItem: [
        {
          text: 'Beranda',
          disabled: false,
          exact: true,
          to: '/kaprodi/beranda',
        },
        {
          text: 'Rekap Presensi',
          disabled: true,
          exact: true,
          to: '#',
        },
      ],
      chartData: {
                labels: ["Hadir %", "Tidak Hadir %"],
                datasets: [
                    {
                        label: "Presensi",
                        backgroundColor: ["#41B883", "#E46651"],
                        //borderColor: "#4bcc96",
                        borderWidth:4,
                        pointBackgroundColor: "#000",
                        pointRadius: 10,
                        pointHoverRadius: 8,
                        pointHoverBorderColor: "#000",
                        fill: false,
                        data: ["27", "73"],
                    },
                ],
            },
            chartOptions: {
                maintainAspectRatio: false,
                responsive: true,
                tooltips:{
                    backgroundColor: "000000",
                    titleFontColor: "#ffffff",
                    bodyFontColor: "#ffffff",
                    position: "center",
                    mode: "nearest",
                    intersect: 0,
                    bodySpacing: 4,
                    xPadding: 20
                },
            },
      urlAkses: 'kaprodi',
    }
  },
  methods: {
    detailPresensiKaprodi(item) {
      local.setPresensi(item)
      this.$router.push('/' + this.urlAkses + '/rekap-presensi/detail')
    },
  },
}
</script>

<style>
.title{
    color: black;
}
.pie-chart{
    width: 50vw;
    height: 50vh;
}
</style>
