<template>
  <v-container>
    <Breadcrumb :breadcrumb-item="breadcrumbItem" :judul-laman="judulLaman" />
    <RekapPresensiKaprodi
      :url-akses="urlAkses"
      @detail="detailPresensiKaprodi"
    ></RekapPresensiKaprodi>
  </v-container>
</template>
<script>
import Breadcrumb from '@/components/backend/breadcrumb.vue'
import RekapPresensiKaprodi from '@/components/presensi/rekap-presensi-kaprodi.vue'
import local from '~/service/local'

export default {
  components: {
    Breadcrumb,
    RekapPresensiKaprodi,
  },

  middleware: ['auth', 'kaprodi'],
  data() {
    return {
      judulLaman: 'Rekap Presensi',
      breadcrumbItem: [
        {
          text: 'Beranda',
          disabled: false,
          exact: true,
          to: '/kaprodi/beranda',
        },
        {
          text: 'Rekap Presensi',
          disabled: true,
          exact: true,
          to: '#',
        },
      ],
      urlAkses: 'kaprodi',
    }
  },
  // methods: {
  //   detailPresensiKaprodi(item) {
  //     local.setPresensi(item)
  //     this.$router.push('/' + this.urlAkses + '/rekap-presensi/detail')
  //   },
  // },
  methods: {
    ambilData() {
      this.loading = true
      this.$axios
        .get('/presensi/kaprodi', {
          params: {
            tahun: this.$store.getters.tahun,
            bulan: this.$store.getters.bulan,
            program: this.$store.getters.program,
            jurusan: this.$store.getters.jurusan,
          },
        })
        .then((res) => {
          this.loading = false
          this.listData = res.data
        })
    },
    detailPresensi(v) {
      const filterPresensi = {
        tahunAjaran: this.$store.getters.tahun_ajaran,
        tahun_aktif: this.$store.tahunAktif,
        semester: this.semesterAktif,
        nomor_kaprodi: this.$store.state.user.nomor,
        mode: 'kaprodi',
      }
      const ls = Object.assign(v, filterPresensi)
      local.setPresensi(ls)
      this.$router.push('/kaprodi/rekap-presensi/detail')
    },
  },
}
</script>
