<template>
  <v-container>
    <Breadcrumb :breadcrumb-item="breadcrumbItem" :judul-laman="judulLaman" />
    <RekapPresensiKaprodi
      :url-akses="urlAkses"
      @detail="detailPresensiKaprodi"
    ></RekapPresensiKaprodi>
    <div>
    <h1 class="title">Vue Chart</h1>
    <div class="chart-div">
        <LineChart :chartData="chartData" :options="chartOptions" 
        class="line-chart"/>
    </div>
  </div>
  </v-container>
</template>

<script>
import Breadcrumb from '@/components/backend/breadcrumb.vue'
import RekapPresensiKaprodi from '@/components/presensi/rekap-presensi-kaprodi.vue'
import local from '~/service/local'

export default {
  components: {
    Breadcrumb,
    RekapPresensiKaprodi,
  },

  middleware: ['auth', 'kaprodi'],
  data() {
    return {
      judulLaman: 'Rekap Presensi',
      breadcrumbItem: [
        {
          text: 'Beranda',
          disabled: false,
          exact: true,
          to: '/kaprodi/beranda',
        },
        {
          text: 'Rekap Presensi',
          disabled: true,
          exact: true,
          to: '#',
        },
      ],
      chartData: {
                labels: ["Jan", "Feb", "Mar", "Apr"],
                datasets: {
                    data: [100, 150, 300,200],
                }
            },
            chartOptions: {
                maintainAspectRatio: false,
                responsive: true
            },
      urlAkses: 'kaprodi',
    }
  },
  methods: {
    detailPresensiKaprodi(item) {
      local.setPresensi(item)
      this.$router.push('/' + this.urlAkses + '/rekap-presensi/detail')
    },
  },
}
</script>
