<template>
  <v-container>
    <Breadcrumb :breadcrumb-item="breadcrumbItem" :judul-laman="judulLaman" />
    <RekapPresensiKaprodi
      :url-akses="urlAkses"
      @detail="detailPresensiKaprodi"
    ></RekapPresensiKaprodi>
    <LineChart
      :chartData="chartData"
    ></LineChart>
  </v-container>
</template>
<script>
import Breadcrumb from '@/components/backend/breadcrumb.vue'
import RekapPresensiKaprodi from '@/components/presensi/rekap-presensi-kaprodi.vue'
import local from '~/service/local'
import LineChart from '@/components/LineChart.vue'

export default {
  components: {
    Breadcrumb,
    RekapPresensiKaprodi,
    LineChart,
  },

  middleware: ['auth', 'kaprodi'],
  data() {
    return {
      judulLaman: 'Rekap Presensi',
      breadcrumbItem: [
        {
          text: 'Beranda',
          disabled: false,
          exact: true,
          to: '/kaprodi/beranda',
        },
        {
          text: 'Rekap Presensi',
          disabled: true,
          exact: true,
          to: '#',
        },
      ],
      chartData : {
        labels: ["Jan", "Feb", "Mar", "Apr"],
        datasets: {
          data: [100, 150, 300, 200]
        }
      },
      urlAkses: 'kaprodi',
    }
  },
  methods: {
    detailPresensiKaprodi(item) {
      local.setPresensi(item)
      this.$router.push('/' + this.urlAkses + '/rekap-presensi/detail')
    },
  },
}
</script>
