<template>
  <AnalisaKaprodi />
</template>

<script>
import AnalisaKaprodi from '@/components/analisa/analisa-kaprodi.vue'

export default {
  name: 'App',
  components: { AnalisaKaprodi }
}
</script>