<template>
  <v-container>
    <v-row>
      <v-col v-for="(i, index) in info" :key="index" cols="12" md="3">
        <card-info :info="i"></card-info>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import CardInfo from '@/components/info/card-info.vue'
export default {
  components: {
    'card-info': CardInfo,
  },
  middleware: ['auth', 'kaprodi'],
  data() {
    return {
      info: [
        {
          judul: 'Rekap Presensi',
          warna: 'blue',
          jumlah: 5,
          
        },
        {
          judul: 'Rekap Tugas',
          warna: 'indigo',
          jumlah: 1,
          
        },
      ],
    }
  },
}
</script>
