<template>
  <v-container>
    <v-row>
      <v-col>Kaprodi</v-col>
    </v-row>
  </v-container>
</template>
  
<script>
export default {
  components: {
    Breadcrumb,
  },

  middleware: ['auth', 'kaprodi'],
  data() {
    return {
      judulLaman: 'Rekap Presensi',
      breadcrumbItem: [
        {
          text: 'Rekap Presensi',
          disabled: false,
          exact: true,
          to: '/kaprodi/rekap-presensi',
        },
        {
          text: 'Rekap Tugas',
          disabled: true,
          exact: true,
          to: '/kaprodi/rekap-tugas',
        },
      ],
      urlAkses: 'kaprodi',
    }
  },
}
</script>