<template>
  <div>
    <h1 class="title">Vue Chart</h1>
    <div class="chart-div">
        <LineChart :chartData="chartData" :options="chartOptions" 
        class="line-chart"/>
    </div>
  </div>
</template>

<script>
import LineChart from '~/components/LineChart.vue'
export default {
    data() {
        return {
            chartData: {
                labels: ["Jan", "Feb", "Mar", "Apr"],
                datasets: [
                    {
                        label: "Numbers",
                        borderColor: "#4bcc96",
                        borderWidth:4,
                        data: [100, 150, 300,200],
                    },
                ],
            },
            chartOptions: {
                maintainAspectRatio: false,
                responsive: true
            }
        }
    }
}
</script>

<style>
.title{
    color: black;
}
.line-chart{
    width: 50vw;
    height: 50vh;
}
</style>