<template>
  <div>
    <h1 class="title">Vue Chart</h1>
    <div class="chart-div">
        <LineChart :chartData="chartData" />
    </div>
  </div>
</template>

<script>
import LineChart from '~/components/LineChart.vue'
export default {
  components: { LineChart },

}
</script>

<style>
.title{
    color: black;
}
</style>