<template>
  <v-container>
    <Breadcrumb :breadcrumb-item="breadcrumbItem" :judul-laman="judulLaman" />
    <RekapTugasKaprodi :url-akses="urlAkses" @detail="detail"></RekapTugasKaprodi>
  </v-container>
</template>
<script>
import Breadcrumb from '@/components/backend/breadcrumb.vue'
import RekapTugas from '@/components/tugas/rekap-tugas-kaprodi.vue'
import local from '~/service/local'

export default {
  components: {
    Breadcrumb,
    RekapTugas,
  },

  middleware: ['auth', 'kaprodi'],
  data() {
    return {
      judulLaman: 'Rekap Tugas',
      breadcrumbItem: [
        {
          text: 'Beranda',
          disabled: false,
          exact: true,
          to: '/kaprodi/beranda',
        },
        {
          text: 'Rekap Tugas',
          disabled: true,
          exact: true,
          to: '#',
        },
      ],
      urlAkses: 'kaprodi',
    }
  },
  methods: {
    detail(item) {
      local.setTugas(item)
      this.$router.push('/' + this.urlAkses + '/rekap-tugas/detail')
    },
  },
}
</script>
