<template>
  <v-container>
    <Breadcrumb :breadcrumb-item="breadcrumbItem" :judul-laman="judulLaman" />
    <DetailTugasHeaderKaprodi />
    <br />
    <DetailTugasKaprodi />
  </v-container>
</template>
<script>
import DetailTugasKaprodi from '@/components/tugas/detail-tugas-kaprodi.vue'
import Breadcrumb from '@/components/backend/breadcrumb.vue'
import DetailTugasHeaderKaprodi from '~/components/tugas/detail-tugas-header-kaprodi.vue'
export default {
  components: {
    Breadcrumb,
    DetailTugasHeaderKaprodi,
    DetailTugasKaprodi,
  },
  data() {
    return {
      judulLaman: 'Detail Rekap Tugas',
      breadcrumbItem: [
        {
          text: 'Beranda',
          disabled: false,
          exact: true,
          to: '/kaprodi/beranda',
        },
        {
          text: 'Rekap Tugas',
          disabled: false,
          exact: true,
          to: '/kaprodi/rekap-tugas',
        },
        {
          text: 'Detail',
          disabled: true,
          exact: true,
          to: '#',
        },
      ],
    }
  },
}
</script>
